<% provide(:title, '学院列表') %>
<h1>学院列表</h1>

<div>
  <%= link_to ">>添加学院", new_academy_path,
                                class: "btn btn-large btn-primary btn-link" %>
</div>

<div class="users">
  <table class="table table-striped table-bordered table-hover">
     <tr>
        <th>学院代码</th>
        <th>学院名称</th>
        <th colspan="2">操作</th>
     </tr>
   <% @academies.each do |academy| %>
     <tr>
        <th><%= link_to academy.academy_encode, academy %></th>
        <th><%= link_to academy.academy_name, academy %></th>
        <th><%= link_to "修改", edit_academy_path(academy)%></th>
        <th><%= link_to "删除", academy, method: :delete,
                                 data: { confirm: "确定删除?" } %></th>
     </tr>
   <% end %>
  </table>
</div>

<%= will_paginate %>