<%= form_for(@professional) do |f| %>
  <% if @professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
      <% @professional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
     <div class="span6 offset3">
         <%= f.label :professional_encode,"专业代码" %>
         <%= f.text_field :professional_encode %>

         <%= f.label :professional_name,"专业名称" %>
         <%= f.text_field :professional_name %>

         <%= f.submit "保存", class: "btn btn-primary" %>
     </div>
   </div>
<% end %>
