<div class="row">
  <div class="pull-right">
     <ul class="nav nav-tabs nav-stacked">
       <li><%= link_to '首页' %></li>
       <li><%= link_to '最近报名情况', last_test_sign_ups_path %> </li>
       <li><%= link_to '历次报名情况', all_test_sign_ups_path %> </li>
       <li><%= link_to '学生账户管理' ,index_student_users_users_path%></li>
       <li><%= link_to '学生信息管理', students_path %> </li>
     </ul>
  </div>
</div>